$width: 100px;

.w-loading {
  box-sizing: content-box;

  &-mixin {
    box-shadow: 0 0 12px 0 rgba(56, 56, 56, 0.12);
    width: $width;
    padding: 37px 50px 0;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 4px;
    box-sizing: content-box;
  }

  &-mixintext {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    height: 14px;
    margin: 0;
  }

  &-fixed {
    @extend .w-loading-mixin;

    position: fixed;

    &-img {
      max-width: 100%;
      display: block;
    }

    &-text {
      @extend .w-loading-mixintext;

      padding: 12px 0 37px;
    }
  }

  &-mask {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;

    &-img {
      @extend .w-loading-mixin;

      position: absolute;
      padding: 37px 50px 63px;
    }

    &-text {
      @extend .w-loading-mixintext;

      position: absolute;
      width: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50px);
    }
  }
}
